<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <title>Blogge | Personal Blog Site</title>

    <!--Meta For No Index-->
    <meta name="robots" content="noindex, Nofollow, Noimageindex">

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Theme Stylesheet -->
    <link href="~/Blogge-1.0.0.0/css/style.css" rel="stylesheet" />

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Blogge-1.0.0.0/images/favicon.svg" type="image/x-icon" />
    <link rel="icon" href="~/Blogge-1.0.0.0/images/favicon.svg" type="image/x-icon" />
</head>

<body>

    @RenderBody()

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9rV6yesIygoVKTD6QLf_iCa9eiIIHqZ0&libraries=geometry">
    </script>
    <!-- Vendor JS -->
    <script src="~/Blogge-1.0.0.0/vendor/jQuery/jquery.min.js"></script>
    <script src="~/Blogge-1.0.0.0/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="~/Blogge-1.0.0.0/vendor/slick/slick.min.js"></script>
    <script src="~/Blogge-1.0.0.0/vendor/g-map/gmap.js"></script>
    <!-- Main JS -->
    <script src="~/Blogge-1.0.0.0/js/script.js"></script>
</body>

</html>